@page
@model web.Pages.AllBooksModel
@{
}
<h1>All books</h1>
<div class="row">
    <div class="container-fluid text-center mt-1">
        @foreach (var book in Model.Books)
        {
            <div class=" card d-inline-flex" style="width: 18rem;">
                <img class="card-img-top" src="~/book.png" alt="Card image cap" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@book.Title [@book.Format]</h5>
                    <p class="card-text">Author: @string.Join(",",book.Authors.Select(author => author.FullName))</p>
                    <p class="card-text">Publisher: @book.Publisher</p>
                    <a class="btn btn-info" asp-route-id="@book.Id" asp-page="/Book">Details</a>
                </div>
            </div>
        }
    </div>
</div>