@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Books</h1>

</div>

<div class="container-fluid text-center">
    @foreach (var book in Model.books)
    {
        <div class="card d-inline-flex" style="width: 18rem;">
            <img class="card-img-top" src="~/book.png" alt="Card image cap" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@book.Title [@book.Format]</h5>
                <p class="card-text">Author: @string.Join(",",book.Authors.Select(author => author.FullName))</p>
                <p class="card-text">Publisher: @book.Publisher</p>
                <a class="btn btn-primary" asp-route-id="@book.Id" asp-page="/Book">  </a>
            </div>
        </div>
    }
</div>


