@page
@model web.Pages.LibraryModel
@{
}
<h1>Recommended</h1>

@if (TempData["recommendationErrors"] == null)
{
    <div class="list-group">
        @foreach (var book in Model.recommendedBooks)
        {
            <a href="/Book/?id=@book.Id" class="list-group-item list-group-item-action"> <h6>@book.Title</h6></a>
        }
    </div>
}
else
{
    <h3>@TempData["recommendationErrors"]</h3>
}

<hr />