@page
@model web.Pages.RegisterModel
@{
}
@section scripts{
    <partial name="_ValidationScriptsPartial" />
    }
<div class="alert-danger">@ViewData["isLogged"]</div>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Login</h1>
            <form method="post">
                <div class="mb-3">
                    <label class="form-label" asp-for="registrator.Name">Full name</label>
                    <input type="text" asp-for="registrator.Name" class="form-control" />
                    <span asp-validation-for="registrator.Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="registrator.Email">Email</label>
                    <input type="email" asp-for="registrator.Email" class="form-control" />
                    <span asp-validation-for="registrator.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="registrator.Username"> User name</label>
                    <input type="text" asp-for="registrator.Username" class="form-control" />
                    <span asp-validation-for="registrator.Username" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="registrator.Password"> Password</label>
                    <input type="password" asp-for="registrator.Password" class="form-control" />
                    <span asp-validation-for="registrator.Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>