html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#btnLight {
    opacity: 50%;
    background-color: darkslategray;
    
}

#btnDark {
    
}
#topTwelve {
    text-decoration: none;
    color: black;
}
#head{
    color:black;
}
a{
    color:black;
}